

#main{
    background-color:lavender;
    width:1000px;
    align-self: center;
    margin: auto;
    padding: 50px;
    
}

#addHead{
    background-color:darkslategrey;
    width: 100%;
    height: 4rem;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size:30px;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
}

#input{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    
    padding: auto;
 
    padding: 5px;
    margin-bottom: 6px;
    border-radius: 10px;
    font-weight: bold;
    
}

#firstSec{
   width: 18rem;
   margin:auto;
}

#secondSec{
    width: 18rem;
    margin:auto;
 }


 /*thirdSec*/
 #city{
    width: 36rem;
    margin:auto;
 }
 #zip{
    width: 18rem;
    margin:auto;
 }

 #fourthSec,
 #addBtnCont{
    width: 18rem;
    margin:auto;
 }

 #addBtnCont{
    margin-top: 20px;
    text-align: center;
    
 }

 #addNowBtn{
    margin-left: 5px;
    margin-right: 5px;

 }

 #cancelBtn{
    margin-left: 5px;
    margin-right: 5px;
 }

